@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/regular.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/v4-shims.scss";
@import "./fontawesome/brands.scss";
@import "./fontawesome/mixins";
.fa-exclamation-circle {
    color: $danger-color;
}

.fa-info-circle {
    color: $warning-color;
}

.circle-icon {
    margin-right: 5px;
}

.glyphicon {
    @extend %fa-icon!optional;
    @extend .fas;
}

.glyphicon-chevron-left {
    &:before {
        content: fa-content($fa-var-arrow-circle-left);
    }
}

.glyphicon-chevron-right {
    &:before {
        content: fa-content($fa-var-arrow-circle-right);
    }
}